* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden; /* ZERO scrolli */
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  font-weight: 600;
  background-color: rgb(255, 251, 245);
}

main {
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 800px;
  padding: 60px;
  /* background-color: rgb(253, 252, 248);
  border-radius: 30px;
  box-shadow: 2px 2px 10px rgb(219, 219, 219); */
  background-image: url(paper.png);
  background-repeat: no-repeat;
}

.info {
  width: 100%;
  height: 50%;
  text-align: center;
}

.buttons-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

.yes {
  position: absolute;
  top: 45px;
  /* left: 150px; */
  margin-right: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 60px;
  color: white;
  text-decoration: none;
  background: linear-gradient(300deg, #ffb5b5, #ff6da3, #ff1b35);
  background-size: 180% 180%;
  animation: gradient-animation 3s ease infinite;
  border-radius: 30px;
  box-shadow: 4px 4px 4px rgb(150, 150, 150);
  transition: 0.5s;
}

.yes:hover {
  box-shadow: 6px 6px 6px rgb(150, 150, 150);
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.no-container {
  position: absolute;
  top: 0px;
  /* right: 100px; */
  margin-left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;

  transform: translate(0px, 0px);
  transition: transform 0.15s linear;
  /* transition:
    right 0.4s ease,
    top 0.4s ease; */
}

.no {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 60px;
  margin: 0;
  color: black;
  background-color: rgb(250, 250, 250);
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 4px 4px 4px rgb(150, 150, 150);
}
