* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden; /* ZERO scrolli */
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffecec;
  overflow: hidden;
  position: relative;

  font-family: "Playwrite NZ Basic", cursive;
  font-size: x-large;
  font-weight: 400;
}

body::before {
  content: "";
  position: fixed;

  /* robimy warstwę dużo większą niż viewport */
  width: 200vw;
  height: 200vh;
  left: -50vw;
  top: -50vh;

  background-image: url(heart.png);
  background-size: 50px;
  opacity: 0.15;

  transform: rotate(-4deg);
  z-index: -1;
  pointer-events: none;
}

main {
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 800px;
  padding: 60px;
  /* background-color: rgb(253, 252, 248);
  border-radius: 30px;
  box-shadow: 2px 2px 10px rgb(219, 219, 219); */
  background-image: url(vpaper3.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.info {
  width: 100%;
  text-align: center;
  margin-top: 30%;
  font-size: larger;
  transform: rotate(-4deg);
}

.jamnik {
  height: 100px;
}

.question {
  margin: 5px 0px;
}

.buttons-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
  font-weight: 600;
  transform: rotate(-4deg);
}

.button {
  cursor: pointer;
}

.yes {
  position: absolute;
  top: 45px;
  /* left: 150px; */
  margin-right: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 60px;
  color: white;
  text-decoration: none;
  background: linear-gradient(300deg, #ff0000, #c03642, #ff1934);
  background-size: 180% 180%;
  animation: gradient-animation 3s ease infinite;
  border-radius: 30px;
  box-shadow: 4px 4px 4px rgb(100, 100, 100);
  transition: 0.5s;
}

.yes:hover {
  box-shadow: 8px 8px 8px rgb(100, 100, 100);
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.no-container {
  position: absolute;
  top: 0px;
  /* right: 100px; */
  margin-left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;

  transform: translate(0px, 0px);
  transition: transform 0.15s linear;
  /* transition:
    right 0.4s ease,
    top 0.4s ease; */
}

.no {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 60px;
  margin: 0;
  color: black;
  background-color: rgb(250, 250, 250);
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 4px 4px 6px rgb(100, 100, 100);
}

.fade-in {
  opacity: 0;
  transform: scale(0.9);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
}

.fade-in.show {
  opacity: 1;
  transform: scale(1);
}
